body{
    background-color: #1a2c5b;
}
h1{
    color: #b8dff0;
    margin: 20px 0 20px 0;
}
p{
    color: #b8dff0;
}
label{
    color: white;
}
ul{
    padding: 25px 25px 25px 25px;
}
li{
    margin: 5px 0 5px 0 !important;
    border-radius: 5px !important;
}
hr{
    border: .5px solid #b8dff0;
    margin: 0.5rem 0 0.5rem 0;
}
.col{
    padding: 20px 20px 20px 20px;
    background-color: #3e4e88;
    height: 85vh;
    margin-right: 10px;
    border-radius: 10px;
}

button{
    width: 100%;
    color: white !important;
    background-color: #7971ea !important;
}

